## 1. Import libraries.

In [86]:
import pandas as pd
import numpy as np

## 2. Table 1

In [89]:
def get_num_of_zero_element(file, q):
    a=open("example/qmers/"+file+"/"+str(q)+".csv").readlines()
    return len(a)

In [83]:
healthy = !cat control.txt
healthy = healthy[0].split(" ")
df_h = pd.DataFrame([[get_num_of_zero_element(healthy[i],j+1) for i in range(len(healthy))] for j in range(14)])
df_h.columns = healthy
df_h.index = [i+1 for i in range(14)]

In [110]:
df_h_mean = df_h.apply(np.mean, axis=1).tolist()
df_h_std = df_h.apply(np.std, axis=1).tolist()

In [119]:
table_1 = [4**(i+1) for i in range(14)]
table_2 = [str(round(table_1[i] - df_h_mean[i],2)) + " ± " + str(round(df_h_std[i],2)) for i in range(14)]
table_3 = [str(round(100 - 100 * df_h_mean[i] / table_1[i],2)) + " ± " + str(round(100 * df_h_std[i]/table_1[i],2)) for i in range(14)]
table = pd.DataFrame([table_1, table_2, table_3]).T
table.index = [i+1 for i in range(14)]
table.columns = ["4^q", "# of zero elements", "% of zero elements"]

In [120]:
table

          4^q      # of zero elements % of zero elements
1           4               0.0 ± 0.0          0.0 ± 0.0
2          16               0.0 ± 0.0          0.0 ± 0.0
3          64               0.0 ± 0.0          0.0 ± 0.0
4         256               0.0 ± 0.0          0.0 ± 0.0
5        1024               0.0 ± 0.0          0.0 ± 0.0
6        4096            51.47 ± 17.0        1.26 ± 0.42
7       16384        3010.35 ± 398.55       18.37 ± 2.43
8       65536      38415.59 ± 2312.69       58.62 ± 3.53
9      262144     226350.35 ± 4343.52       86.35 ± 1.66
10    1048576    1009485.35 ± 5247.47        96.27 ± 0.5
11    4194304    4154261.65 ± 5523.54       99.05 ± 0.13
12   16777216   16737029.76 ± 5576.88       99.76 ± 0.03
13   67108864    67068799.0 ± 5559.71       99.94 ± 0.01
14  268435456  268395603.29 ± 5521.18        99.99 ± 0.0

## 3. Appendix (1): Table 1 for Cocaine Addicts

In [121]:
cocaine = !cat cocaine.txt
cocaine = cocaine[0].split(" ")
df_c = pd.DataFrame([[get_num_of_zero_element(cocaine[i],j+1) for i in range(len(cocaine))] for j in range(14)])
df_c.columns = cocaine
df_c.index = [i+1 for i in range(14)]

In [122]:
df_c_mean = df_c.apply(np.mean, axis=1).tolist()
df_c_std = df_c.apply(np.std, axis=1).tolist()

In [123]:
table_1 = [4**(i+1) for i in range(14)]
table_2 = [str(round(table_1[i] - df_c_mean[i],2)) + " ± " + str(round(df_c_std[i],2)) for i in range(14)]
table_3 = [str(round(100 - 100 * df_c_mean[i] / table_1[i],2)) + " ± " + str(round(100 * df_c_std[i]/table_1[i],2)) for i in range(14)]
table = pd.DataFrame([table_1, table_2, table_3]).T
table.index = [i+1 for i in range(14)]
table.columns = ["4^q", "# of zero elements", "% of zero elements"]

In [124]:
table

          4^q      # of zero elements % of zero elements
1           4               0.0 ± 0.0          0.0 ± 0.0
2          16               0.0 ± 0.0          0.0 ± 0.0
3          64               0.0 ± 0.0          0.0 ± 0.0
4         256               0.0 ± 0.0          0.0 ± 0.0
5        1024               0.0 ± 0.0          0.0 ± 0.0
6        4096           66.37 ± 19.16        1.62 ± 0.47
7       16384        3556.26 ± 640.88       21.71 ± 3.91
8       65536      41016.37 ± 3103.25       62.59 ± 4.74
9      262144     230791.58 ± 5291.56       88.04 ± 2.02
10    1048576    1014699.16 ± 6202.73       96.77 ± 0.59
11    4194304    4159704.79 ± 6462.74       99.18 ± 0.15
12   16777216   16742508.58 ± 6498.68       99.79 ± 0.04
13   67108864    67074246.32 ± 6464.0       99.95 ± 0.01
14  268435456  268401002.79 ± 6406.41        99.99 ± 0.0